@import url(https://fonts.googleapis.com/css?family=Roboto:400&subset=latin,cyrillic);

p {
	font-size:14px;
	font-family: 'Roboto', sans-serif;
}
.leftimg {
    float:left;
    margin: 7px 7px 7px 0;
   }
.marg {
  height: 220px;
  position: relative;
}
.boxShadow {
  padding: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
.row {
  margin-right: 0 !important;
}
.col-lg-offset-1 {
  padding-left: 60px;
}
.col-sm-offset-0 {
  padding-left: 60px;
}
